body {
  background: url("img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100w;
  background-attachment: fixed;
  color: #e7e8eb;
}

/* optional, be able to use or not */
/* input[type="text"] {
  border-bottom: 1px solid #fff;
} */

footer {
  position: fixed;
  bottom: 0;
  right: 10px;
  font-family: "Lato", sans-serif;
}

footer p {
  font-size: 5px;
}

.jam {
  margin: auto;
  padding-top: 10%;
  padding-bottom: 1%;
  width: 200px;
  font-family: Helvetica;
  color: #000;
  text-align: center;
}

.jam .title {
  font-size: 40px;
}

.jam .subtitle {
  font-size: 20px;
}

.search-box {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  /* box-shadow: 5px 5px 5px #000; */
  opacity: 1;
}

.search-btn {
  color: #e7e8eb;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.search-box:hover > .search-txt {
  width: 250px;
  padding: 0 15px;
}

.search-box:hover > .search-btn {
  background: #e7e8eb;
  color: #000;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  text-align: center;
  font-family: Helvetica;
}

#card {
  border-radius: 20px;
  height: 300px;
  width: 300px;
  bottom: 10%;
  margin: auto auto;
  flex-direction: column;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  background-color: #000;
  box-shadow: 5px 5px 5px #000;
  display: flex;
}

#card td {
  border-radius: 5px;
  text-align: center;
}

#card td:hover {
  background-color: #fff;
}

#card td a {
  font-size: 40px;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  margin: 10px;
}

#card td a:hover {
  /* background-color: #fff; */
  color: #000;
}
